{% extends "AmamaMelodyaBundle:templates:layout.html.twig" %}

{% block title %}Playlist {{ playlist.titre }}{% endblock %}

{% block body %}
<h3 class="text-center">Ma playlist : {{ playlist.titre }}</h3>

<hr>

{% if playlist is not defined %}
  {{ msgErreur }}
  <p>Cette playlist n'existe pas.</p>
{% else %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Artiste</th>
                    <th>Album</th>
                    <th>Style</th>
                    <th>Ecoute</th>
                    <th>Like</th>
                </tr>
            </thead>

        <tbody>
        {% for row in musiques %}
        <tr>
            <td> {{row.titre}}</td>
            <td> {{row.artiste}}</td>

            <td> {{row.album}}</td>
            <td> {{row.tag}}</td>
            <td>
            <audio controls>
                <source src="{{ path('m_musique_download',{'musique': row.lien}) }}" type="audio/mp3">
                Votre navigateur ne supporte pas <code>audio</code>.
            </audio>
            </td>
            <td>LIKE MASTA</td>
        </tr>
        {% endfor %}
        </tbody>
  </table>
    </div>
{% endif %}

{% endblock %}