{% extends 'AmamaMelodyaBundle:templates:layout.html.twig' %}

{% block title %}Parcours des profils{% endblock %}

  {% block body %}

    <h3 class="text-center">Parcours les profils</h3>

    <hr>
    
    <div class="parcoursProfilBlock1">
      {% for user in users %}

        <div class="parcoursProfilBlock2">
          <img src="{{ asset('bundles/amamamelodya/img/avatar/'~user.avatar)}}" alt="{{user.login}}" id="parcoursProfilAvatar" /> 
          <div class="parcoursProfilInfo">
            <a href="{{ path('m_profil_p', {'login': user.login} ) }}">
              <p> {{user.login}} </p>
            </a>
            {% if user.prenom is null %}
              <p> </p>
            {% else %}
              <p>Prénom : {{user.prenom}}</p>
              {%endif%}
            </div>
          </div>

          {%endfor%}
        </div>
      {% endblock %}


